[Desktop Entry]
Type=Service
Name=Enfolderize
X-KDE-Library=enfolderizeplugin
X-KDE-ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;inode/directory;

