[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Enfolderize
X-KDE-Library=enfolderizeplugin
ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;inode/directory;

